Exercises

1.

In [19]:
import pandas as pd
fruits = pd.DataFrame({'Apples': [30], 'Bananas': [21]})
fruits

   Apples  Bananas
0      30       21

2.

In [20]:
fruit_sales = pd.DataFrame({'Apples': [35,41], 'Bananas': [21,34]},index=['2017 Sales','2018 Sales'])
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

3.

In [21]:
ingredients = pd.Series(['4 cups','1 cup','2 large','1 can'],index=['Flour','Milk','Eggs','Spam'],name='Dinner')
print(ingredients)

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

4.

In [22]:
import pandas as pd
reviews = pd.read_csv('C:\Prog\Kaggle\Pandas\Create,Reading and Writing\Teoria\Pesquisa - Servi√ßos de Streaming.csv',index_col = 0)

5.

In [26]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
print(animals)
pd.DataFrame.to_csv(animals, 'animals.csv')

        Cows  Goats
Year 1    12     22
Year 2    20     19